:root {
	--main: #1D1E24;
	--secondary: #20232B;
	--tertiary: #B785F5;
	--quatre: #547EBE;
	--cinco: #292b31;
	--seis: #7c7b7f;
}

#scroll {
	height: 96vh;
    overflow: scroll;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-anchor: none;
}

#content {
    overflow: scroll;
	display: flex;
	flex-direction: column;
	/* height: calc(65vh - 100px); */
	overflow: hidden;
}

.chatRoomContent {
	height: calc(65vh - 100px);
}

#roomContainer {
	color: white;
	display: flex;
	width: 100%;
	align-items: center;
	background-color: var(--tertiary);
	border-radius: 8px;
	padding: 8px 16px;
	row-gap: 1em;
}

  #chatContainer {
	height: 75%;
	background-color: var(--cinco);
	border-radius: 12px;
	margin-bottom: 1em;
	padding: 8px;
	margin-right: 2px;
	margin-left: 2px;
	/*margin-left: 10px; pour le chatroom*/
	margin-top: 2px;
	margin-bottom:13px;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	 overflow-y: scroll;
	 width: auto;
	/* margin-left: 2px; -> que pour chatroom */
	 /* min-height: 50vh; */
}

.date {
	margin-left: 8px;
	color: white;
}

.chat-receiver {
	background-color: var(--tertiary);
	border-radius: 8px;
	padding: 8px 16px;
	color: white;
	display: flex;
	row-gap: 1em;
}

.chat-receiver > span:first-child {
	font-weight: bold;
	margin-right: 4px;
}

.chat-wrapper {
	display: flex;
	width: 100%;
	align-items: center;
}

.chatUsername{
	font:inherit;
	font-weight: bold;
	margin-right: 4px;
}

.chat-sender {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.chatPage {
	overflow: hidden;
}

.msgProfileLink
{
	color: white;
	text-decoration: none;
}

.muteMsg
{
	color: red;
	margin: 5px;
	margin-left: 15px;
}

/* link */
a:link {
	color: white;
	text-decoration: none;
 }
 a:visited {
	color: white;
	text-decoration: none;
 }
 a:hover {
	color: var(--quatre);
	text-decoration: blink;
 }
 a:active {
	color: white;
	text-decoration: none;
 }

.textareaSender {
	font: inherit;
resize: none;
  color: white;
  background-color: transparent;
  border: none;
  min-width: 10px;
  max-width: none;
}
.textareaContainer
{
	background-color: #547EBE;
	margin-right: 8px;
	border-radius: 8px;
	padding: 8px 16px;
	color: white;
	margin-left: 8px;
	display: flex;
	align-items: center;
}
