#createRoom
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#accessibility
{
	width: 80%;
	height: 40px;
	display: flex;
	align-items: center;
	margin: 50px;
}

#checkboxes
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0px;
}

#checkboxes > li
{
	list-style: none;
	color: white;
	display: flex;
	margin-right: 20px;
}

.checkboxContainer
{
	display: block;
	height: 20px;
	width: 20px;
	cursor: pointer;
	margin-right: 10px;
}

.checkboxContainer > input
{
	position: absolute;
	opacity: 0;
	width: 0px;
	height: 0px;
}

.customCheckbox
{
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 3px;
}

.customCheckbox:hover
{
	background-color: #E5E8E8;
}

.checkboxContainer > input:checked ~ .customCheckbox
{
	background-color: #413368;
}

.customCheckbox:after
{
	content: "";
	position: absolute;
	display: none;
}

.checkboxContainer > input:checked ~ .customCheckbox:after
{
	display: block;
}

.customCheckbox:after
{
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#creationPassword
{
	display: inline-block;
	width: 400px;
	height: 20px;
	margin-right: 50px;
	margin-left: 20px;
	white-space: nowrap;
}

#creationPasswordInput
{
	position: relative;
	width: 37px;
	height: 20px;
	margin-left: 10px;
	border: 1px black solid;
	outline: none;
	border-radius: 3px;
	text-align: center;
}

#rooms
{
	margin: 100px;
	color: white;
}

#nameInfo
{
	margin: 5px;
	height: 22px;
}

#filter
{
	text-align: center;
}

select
{
	margin: auto;
	width: 375px;
	height: 50px;
	border: none;
	border-radius: 3px;
	background-color: #413368;
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	color: white;
	cursor: pointer;
}

select:focus
{
	outline: none;
}

#roomList
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0px;
	padding-left: 90px;
}

.chatRoom
{
	position: static;;
   width: 280px;
	height: 100px;
   background-color: var(--tertiary);
   border: 1px, solid;
   border-radius: 5px;
   list-style: none;
   text-align: center;
   margin: 15px;
   cursor: pointer;

}

#joinedChatRoom
{
	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 10px;
	padding-bottom: 5px;
}

#joinedTitle, .joinedOwner, .countMembers
{
	margin: 5px;
}

.joinedOwner
{
	margin-top: 7px;
}

.roomTitleNotJoined
{
	position: relative;
	top: 10px;
}

.roomInfo
{
	margin-top: 25px;
	height: 25px;
	display: flex;
	justify-content: space-around;
}

.owner
{
	margin: 0px;
	width: 180px;
}

.lock
{
	margin-right: 8px;
}

#joinRoomTitle, #createRoomTitle
{
	padding: 10px;
}

#noRoomJoined, #noRoomToJoin
{
	text-align: center;
}

.joinInfoPassword
{
	width: 140px;
}

.joinPasswordInput
{
	position: relative;
	width: 35px;
	height: 20px;
	border: 1px black solid;
	outline: none;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 3px;
	text-align: center;
}

.joinSubmitBtn
{
	width: 45px;
	background-color: #413368;
	color: white;
	border: none;
	height: 25px;
	cursor: pointer;
	border-radius: 3px;
}

.joinSubmitBtn:hover
{
	background-color: #613981;
}

#banned
{
	margin: 0px;
	color: red;
}
