.title > svg {
	height: 200px;
	z-index: 1;
}
.title {
	/* padding: 100px; */
	/* position: absolute;
	-> si on le met, supperpose le chat et le titre */
	/* top: 0;
	left: 0;
	z-index: 2; */
	height: 180px;
}
.title > h1 {
	padding:10%;
	position: absolute;
	width: fit-content;
	max-width: 600px;
	  text-align: right;
	  top: 26px;
	  font-size: 54px;
	  text-transform: capitalize;
	  left: 48px;
	  color: white;
}
.logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.chat-receiver {
	width: 100%;
}
.roomBase {
	padding: 100px;
	background-color: #1D1E24;
}
