#achievements
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.achievement
{
	background-color: #547EBE;
	width: 400px;
	text-align: center;
	margin: 20px;
	border-radius: 5px;
}

#achievementsTitle
{
	background-color: #547EBE;
	text-align: center;
	width: 400px;
	padding: 8px;
	margin: auto;
}
