#achievements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.achievement
{
	color: white;
	width: 325px;
	text-align: center;
	margin: 20px;
	border-radius: 5px;
   	background-color: var(--tertiary);
}

#achievementsTitle
{
	text-align: center;
	width: 400px;
	margin: auto;
	color: white;
}

.desc, .title
{
	margin: 5px;
}
