@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body {
  /* :root {
		--main: rgb(169, 169, 241);
		--secondary: #20232B;
	}
	
	.static{
	  position: fixed;
	  width: 100%; */
  margin: 0;
  padding: 0;
  background-color: white;
  color: blue;
  background: rgb(39, 42, 47);
  background: linear-gradient(
    90deg,
    rgba(39, 42, 47, 1) 0%,
    rgba(29, 30, 36, 1) 100%
  );
}

.main-video {
  margin-left: 5rem;
  padding: 1rem;
}

.App-header {
  background-color: #191b20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#old-game-video {
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
