#noChallenge
{
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

#challengeFinished, #challengeTitle
{
	color: white;
	text-align: center;
	margin: 30px;
}

#homeBtn
{
	background-color: #413368;
	color: white;
	border: none;
	height: 25px;
	width: 100px;
	cursor: pointer;
	border-radius: 3px;
}

#homeBtn:hover
{
	background-color: #613981;
}

#controlsContainer
{
	margin: auto;
	width: 300px;
}

#controlsContainer > h4
{
	text-align: center;
}

#controlsContainer > ul > li
{
	width: 300px;
}

#controlsContainer > ul > li > span
{
	float: right;
}

#controlsContainer > h4
{
	text-align: center;
}

