main {
  margin-left: 5rem;
  margin-top: 6rem;
  padding: 1rem;
}

.switch-label_container{
  background-color: #23232e;
  display: flex;
  border-radius: 25px;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
}

.switch-label_selected{
  background-color: #fff;
  border-radius: 28px;
  height: 100%;
  line-height: 30px;
  width: 100%;
  font-weight: 600;
  color:#6281f7;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-label_item{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #6281f7;
  width: 100%;
  cursor: pointer;
}

.container-user{
  padding: 10px;
  border-radius: 25px;
  background-color: #23232e;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-user{
  /* background-color: #29632b; */
  width: 90%;
  display: flex;
  justify-content: safe;
  align-items: center;
  color: white;
  text-decoration: none;
}
.link-user::hover{
  color: white;
  text-decoration: none;
}

.profileButtonCancel {
  font-size: 10px;
  margin: 3px 3px;
  background-color: #c07622;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.profileButtonCancel:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}
.profileButtonCancel:active {
  opacity: 0.3;
}

.profileButtonAddFriend {
  font-size: 10px;
  margin: 3px 3px;
  background-color: #29632b;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.profileButtonAddFriend:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}
.profileButtonAddFriend:active {
  opacity: 0.3;
}
.profileButtonRefuse {
  font-size: 10px;
  margin: 3px 3px;
  background-color: #9a3535;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.profileButtonRefuse:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}
.profileButtonRefuse:active {
  opacity: 0.3;
}

.accordion {
  box-sizing: border-box;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.accordion-select {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.accordion-title {
  position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
  border: 1px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.accordion-title span {
  bottom: 0px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}

.accordion-content {
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  transition: margin 0.3s ease 0.1s;
  display: flex;
}

.accordion-select:checked + .accordion-title + .accordion-content {
  margin-bottom: 0;
  margin-right: 0;
}

/* Generated styles starts here */

.accordion {
  bottom: 0;
  border-color: #dedede;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  height: calc(85vh);
}

.accordion-title,
.accordion-select {
  background-color: #23232e;
  color: #7f8787;
  width: 65px;
  height: 100%;
  font-size: 15px;
}

.accordion-select {
  margin-bottom: -65px;
  margin-right: -65px;
}

.accordion-title:not(:nth-last-child(2))::after {
  border-bottom-color: transparent;
  border-right-color: rgb(234, 234, 234);
}

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
  background-color: #23232e;
}

.accordion-title span {
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  padding-bottom: 33px;
  padding-top: 33px;
  line-height: 65px;
}

.accordion-content {
  background-color: #23232e;
  color: #b6b6b6;
  height: 100%;
  margin-bottom: 0;
  margin-right: calc(-1 * calc(100% - 195px));
  padding: 30px;
  width: calc(100% - 195px);
}

.friendUsername
{
	margin-left: 20px;
}
