#games
{
	margin-top: 100px;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 400px;
	height: 100%;
}

.game
{
	color: white;
   border: 1px, solid;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-decoration: none;
   transition: transform .2s;
   font-size: 19px;
   border-radius: 5px;
   background-color: var(--tertiary);
   height: 50px;
}

.game:hover {
  transform: scale(1.02);
}

.gameLink {
  height: 50px;
  width: 450px;
  text-decoration: none;
  color: inherit;
  margin: 30px;
}

#spectate
{
	text-align: center;
	margin-top: 150px;
}

#canvas {
}

#spectatorTitle
{
	color: white;
	text-align: center;
	width: 250px;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 5px;
}

#noGame
{
	color: white;
	background-color: ;
	text-align: center;
	width: 400px;
	margin: auto;
	margin-top: 100px;
}
