.offscreen{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.errmsg{

}

.valid{
    background-color: green;
}

.hide{
    visibility: hidden;
}

.instructions{
    margin: 10px;
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    text-align: center;
    background-color: #8f7e00;
    border-style: solid;
    border-width: 1px;
    border-color: #e6ca00;
}
.sign-form{
    border-bottom: solid;
    border-color: var(--bg-primary-lighter);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-section{
    position: absolute; 
    top : 10rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 30%;
    background-color: var(--bg-primary);
    border: solid;
    border-color: var(--bg-primary-lighter);
    border-width: 1px;
    border-radius: 5px;
}

.signup-title{
    text-align: center;
}

.signup_div_signin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.Signin-Link{
    text-decoration: none;
    color:white; 
    border-color: white;
    margin: 5px;
    /* border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px; */
}
.Signin-Link:hover{
    background-color: whitesmoke;
    text-decoration: none;
    color: var(--bg-primary);
    border-color: var(--bg-primary);
    /* border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
    padding: 5px; */
}

.signup_input{
    background-color: var(--bg-primary-darker);
    border-bottom: var(--bg-primary-lighter);
    color: var(--bg-primary-lighter);
    border-style: none;
    border-bottom: solid;
    border-width: 1px;
    padding: 3px;
}

.Signup-Link{
    background-image: linear-gradient(transparent calc(100% - 2px), #80c 2px);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    color: #80c;
    padding-bottom: 2px;
    transition: background-size .15s;
    cursor: pointer;
    text-decoration: none;
}
.Signup-Link:hover{
    color: white;
    background-position: 0 100%;
    background-size: 100% 100%;
}
