/*let's chat*/

div.pop_up {
  margin-left: 20px;
  width: 100px;
  height: 50px;
  background-color: #3795f6;
  border-radius: 5px;
  cursor: pointer;
}

div.pop_up p {
  position: relative;
  bottom: 25px;
  text-align: center;
  color: #fff;
}

div.arrow_down {
  position: relative;
  top: 10px;
  right: 8px;
  width: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #3795f6;
}

/*online*/

div.online_indicator {
  margin-left: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #0fcc45;
  border-radius: 50%;
  position: relative;
}

span.online_blink {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #0fcc45;
  opacity: 0.7;
  border-radius: 50%;
  animation: blink 1s linear infinite;
}

/*offline*/

div.offline_indicator {
  margin-left: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color:  #d81515;
  border-radius: 50%;
  position: relative;
}

text {
  display: inline;
  font-weight: 400;
  font-size: larger;
  text-shadow: 0px 3px 6px rgba(150, 150, 150, 0.2);
  position: relative;
  cursor: pointer;
}

/*animation*/

@keyframes blink {
  100% { transform: scale(2, 2); 
          opacity: 0;
        }
}