#stats {
  width: 87%;
  margin: auto;
}

#statsTitle
{
	text-align: center;
	padding: 5px;
	background-color: #413368;
	color: white;
}

table, td, th{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
	color: black;
}

table{
	
	background-color: #E5E7E9;
}

tr:nth-child(even)
{
	background-color: white;
}

table {
  width: 100%;
}

th, td{
	text-align: left;
	padding-left: 10px;
	width: 50%;
	font-weight: normal;
}

td {
  height: 30px;
  margin: 10px;
  padding: 5px;
}
