#stats{
	width: 50%;
	margin-left: 100px;
	height: 500px;
}

table, td, th{
	width: 300px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
}

td{
	height: 30px;
	margin: 10px;
	padding: 5px;
}
