:root {
	--main: #1D1E24;
	--secondary: #20232B;
	--tertiary: #B785F5;
	--quatre: #547EBE
}

body {
	background-color: var(--main);
	padding: 8px;
	height: 100.001vh;
}

#scroll {
	height: 96vh;
    overflow: scroll;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-anchor: none;
}

#content {
	/* position: absolute; */

	height: 96vh;
    overflow: scroll;
	display: flex;
	flex-direction: column;
	width: 100%;

  }

  #roomContainer {
	color: white;
	display: flex;
	width: 100%;
	align-items: center;
	background-color: var(--tertiary);
	border-radius: 8px;
	padding: 8px 16px;
	row-gap: 1em;
}
/* .chat-room-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.chat-room-list li {
    height: 100px;
    background: var(--color-gray);
    flex: 1 1 calc(50% - 4px);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
} */
  #chatContainer {
/* 100vh = ?? 50px = ?? - 200px = titre - 40 = input chat */
	height: calc(100vh - 50px - 200px - 50px);
	background-color: var(--secondary);
	border-radius: 16px;
	margin-bottom: 1em;
	padding: 8px;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	overflow-y: scroll;
	overflow: auto;
}

.date {
	margin-left: 8px;
	color: white;
}
.chat {
	background-color: var(--tertiary);
	border-radius: 8px;
	padding: 8px 16px;
	color: white;
	display: flex;
	row-gap: 1em;
	flex: 1;
	color: white;
}
.chat > span:first-child {
	font-weight: bold;
	margin-right: 1em;
}

.chat-wrapper {
	display: flex;
	width: 100%;
	align-items: center;
}

.chat-sender {
	background-color: #547EBE;
	margin-right: 8px;
	border-radius: 8px;
	padding: 8px 16px;
	color: white;
	display: flex;
	row-gap: 1em;
	flex: 1 1;
	color: white;
	margin-left: 8px;
}
/* .roomBase */