:root {
	--main: #1D1E24;
	--secondary: #20232B;
	--tertiary: #B785F5;
	--quatre: #547EBE
}

#scroll {
	height: 96vh;
    overflow: scroll;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-anchor: none;
}

#content {
	position: relative;
	background-color: var(--main);
    overflow: scroll;
	display: flex;
	flex-direction: column;
	width: 100%;

  }

  #roomContainer {
	color: white;
	display: flex;
	width: 100%;
	align-items: center;
	background-color: var(--tertiary);
	border-radius: 8px;
	padding: 8px 16px;
	row-gap: 1em;
}

  #chatContainer {
/* 100vh = ?? 50px = ?? - 200px = titre - 40 = input chat */
	height: calc(100vh - 50px - 200px - 50px);
	background-color: var(--secondary);
	border-radius: 16px;
	margin-bottom: 1em;
	padding: 8px;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	overflow-y: scroll;
	overflow: auto;
	margin-left: 8px;
	margin-right: 8px;
}

.date {
	margin-left: 8px;
	color: white;
}
.chat {
	background-color: var(--tertiary);
	border-radius: 8px;
	padding: 8px 16px;
	color: white;
	display: flex;
	row-gap: 1em;
	margin-left: 8px;
}
.chat > span:first-child {
	font-weight: bold;
	margin-right: 1em;
}

.chat-wrapper {
	display: flex;
	width: 100%;
	align-items: center;
}

.chat-username {
	background-color: #547EBE;
	margin-right: 8px;
	border-radius: 8px;
	padding: 8px 16px;
	color: white;
	display: flex;
	row-gap: 1em;
	color: white;
	margin-left: 8px;
}

.chat-username > span:first-child {
	font-weight: bold;
	margin-right: 1em;
}

.chat-sender {
	display: flex;
	align-items: center;
	margin-left: auto;
	
}
